@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    scroll-behavior: smooth;
}
.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 93px;
  background: #000000;
  color: #f9f9f9;
  font-family: "Poppins";
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }
}

.navbar-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .navbar-overlay {
    display: none;
  }
}

.navbar-burger {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .navbar-burger {
    display: none;
  }
}

.navbar-title {
  margin: 0rem 0 0 93px;
  font-size: 23px;
}

.navbar-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 270px;
  height: 100%;
  padding: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  background: #000000;
  visibility: hidden;
  transition: translate 0.3s;
}

body.open .navbar-menu {
  translate: 0 0;
  visibility: visible;
}

@media only screen and (min-width: 600px) {
  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
    margin: 4rem 6rem 0 0
  }
}

.navbar-menu > a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 8px;
}

.navbar-menu > a:hover {
  color: #f9f9f9;
}

.navbar-menu > a.active {
  color: #f9f9f9;
}

.section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}


.sect-1{
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.30)), url(imgs/glass-sculpture-of-dionysus.png);
height: 120vh;
 background-repeat: no-repeat;
 background-size: cover;

}
.sect-1:hover {
  background-position: 5px 0; 
  animation: move-bg 0.7s ease-in-out infinite alternate; 
}

@keyframes move-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 5px 0;
  }
}



li {
    list-style: none;
}

a {
    text-decoration: none;
}







.middle1 {
    position: relative;
    height: 82vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0 0 14rem;
    
    
  }
  
  .title {
    font-size: 100px;
    letter-spacing: -3px;
    font-weight: 700;
    z-index: 0; 
    color: white;
    margin: 6rem 0 0 0;
  }
  
  .head-image img {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    top: calc(18% + 10px); 
    z-index: -1; 
  }

.title p {
    margin: 2px 4px -16px 0;
    font-size: x-large;
}
.heading2 {
  align-items: center;
  text-align: center;
  color: white;
  font-size: 30px;

}

#sect-2{
  display: grid;
  margin: 32px 0 0 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.30)), url(imgs/glass-sculpture-of-aphrodite-2.png);
  height: 140vh;
 background-repeat: no-repeat;
 background-size: cover;
}
#sect-2:hover {
  background-position: 5px 0; 
  animation: move-bg 0.6s ease-in-out infinite alternate; 
}

@keyframes move-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 5px 0;
  }
}


.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 65vh;
  
  margin: 0 0px 0px 6rem;
  background-color: #dcdcdc;
}

.card-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 10px;
}

.card-content {
  flex: 1;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  color: #666;
}



.card2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 65vh;
  margin: 0 6rem 0px auto; 
  background-color: #dcdcdc;
}

.card2-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 10px;
}

.card2-content {
  flex: 1;
}

.card2-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


.card3-text {
  font-size: 14px;
  color: #666;
}

.card3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 65vh;
  
  margin: 0 0px 0px 6rem;
  background-color: #dcdcdc;
}

.card3-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 10px;
}

.card3-content {
  flex: 1;
}

.card3-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card3-text {
  font-size: 14px;
  color: #666;
}
.card4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 65vh;
  margin: 0 6rem 3rem auto; 
  background-color: #dcdcdc;
}

.card4-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 10px;
}

.card4-content {
  flex: 1;
}

.card4-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}



.title3{
  color: white;
  text-align: center;
 
  font-size: 30px;

}

.title2{
  color: rgb(0, 0, 0);
  margin: 0px 0 0 21px;
}

#sect3 {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.30)), url(imgs/glass-sculpture-of-aphrodite.png);
  height: 120vh;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
#sect3:hover {
  background-position: 5px 0; 
  animation: move-bg 0.7s ease-in-out infinite alternate; 
}

@keyframes move-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 5px 0;
  }
}


.card-container {
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px; 
  background-color: #dcdcdc; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.flexbox {
  display: flex;
  margin: 0rem 0 0 0;
  border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%;
  border-color: #dcdcdc;
}

.imgplc {
  display: flex;
  justify-content: flex-start; 
}

.imgplc img {
  height: 60vh;
  width: 432%;
  object-fit: cover;
  margin: 0 0 0 -7rem;
}



#best-projects {
  font-size: 30px;
  padding: 40px 0;
  color: white;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.30)), url(imgs/glass-sculpture-of-hades.png);
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#best-projects:hover {
  background-position: 5px 0; 
  animation: move-bg 0.7s ease-in-out infinite alternate; 
}

@keyframes move-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 5px 0;
  }
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  margin: 20px;
  width: calc(23.33% - 19px);
  background-color: #dcdcdc;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 18px;
  margin-top: 5rem;
}

.project img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.project h3 {
  font-size: 18px;
  margin-top: 10px;
 color: #222;
}

.project p {
  font-size: 14px;
  margin-bottom: 20px;
  color:black
}

.btn {
  background-color: #3b3f54;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3b3f54;
}



/* Basic Footer Styling */
footer {
  background-color: #111;
  padding: 45px 0;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.social-icons {
  margin-bottom: 15px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #1abc9c;
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.footer-nav li {
  display: inline-block;
  margin: 0 15px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #1abc9c;
}

footer p {
  font-size: 14px;
  margin-top: 15px;
  color: #aaa;
}

@media (max-width: 888px) {
  ul {
      
      width: 95%;
  }
  .card-wrapper {
    margin-bottom: 20px; /* still finding something?*/
  }
  .card, .card2, .card3, .card4 {
    margin: 0;
  }
 #sect-2{
  display: grid;
  justify-content: space-around;
  background-position: center;
  height: 187vh;
 }
 .projects-container{
  display: grid;
 
  gap: 20px; 
  justify-items: center; 
  align-items: center; 
  margin: 0 auto;
 }
 .project {
  margin: 0;
  width: calc(66.33% - 4px);
  background-color: #dcdcdc;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 14px;
  margin-top: 1rem;
}
#best-projects{
  height: 245vh;
  background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.30)), url(imgs/glass-sculpture-of-hades.png); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sect-1:hover {
  background-position: center; 
  animation: none; 
}

#sect-2:hover {
  background-position: center; 
  animation: none; 
}

#sect3:hover {
  background-position: center; 
  animation: none; 
}


 .card{
  margin: 0 auto;
}
.card2{
  margin: 0 auto;
}
.card3{
  margin: 0 auto;
}
.card4{
  margin: 0 auto;
}
#best-projects:hover {
  background-position: center; 
  animation: none; 
}


}


@media (max-width: 766px){
  .navbar-title {
    margin: 0rem 0 0 3px;
    font-size: 22px;
}
  .middle1{
    margin: 8px 0 0 2rem;
  }
  .sect-1 {
    
      height: 81vh;
    background-position: center;
  }

  ul{
    
      width: 100%;

  }
  .card{
    margin: 0 auto;
  }

  .card-container{
    transform: scale(0.7);
  }
  .card-father{
    margin: 0;
    transform: scale(0.85);
    height: 70rem;
  }

  .imgplc img{
    margin: 0 0 0 -8rem;
    width: 13rem;
    height: 30rem;

  }
  #best-projects{
    height: 130vh;
  }
  .card-father {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-wrapper {
    
    transform: scale(1);
    height: 159px;
}
.card, .card2, .card3, .card4 {
  width: 95%; 
  margin: -7px; 
}
#sect3{
  height: 70vh;
}
}

@media (max-width: 572px){

  #sect3:hover {
    background-position: center; 
    animation: none; 
  }
  
.title{
  font-size: 75px;

}  
#sect3{
  height: 85vh;

}
#sect-2{
  height: 130vh;
}
#best-projects {
  height: 203vh;
}
.imgplc img {
        margin: 0 0 0 -5rem;
}
.imgplc img {
  
    height: 37vh;
    width: 7rem;

}
}




 


@media (max-width: 470px) {
  .card-father {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 64rem;
  
  }
  #best-projects {
    height: 189vh;
}
  
  .card-wrapper {
    
    transform: scale(1);
    height: 219px;
}
.card, .card2, .card3, .card4 {
  width: 95%; 
  margin: -7px; 
}

}
  
@media (max-width: 390px){
  
  .title{
  font-size: 65px;
  font-weight: 900;
  }
  
  .card-wrapper {
    margin-bottom: 0px;
    transform: scale(0.9);
    margin: 0 auto;
}
.project {
  margin: 0;
  width: calc(65.33% - 0px);
 
  
}
#sect-2 {
  height: 160vh;
}
}
  



